.grid {
    display: flex;
    flex-wrap: wrap;
    width: 560px;
    height: 560px;
    border: solid black;
    background-color: black;
}


.grid div{
    width: 20px;
    height: 20px;
}

.pacdot{
    background-color: white;
    border: 6px solid ;
    border-radius: 20px;
    box-sizing: border-box;
}

.wall{
    background-color: blue;
}

.power-pellet{
    background-color: green;
    border-radius: 10px;
}

.pac-man{
    background-image: url("images/pacman.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}